@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

Colegio Sagrado Corazón

File:			app.scss
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2017

************************************************************************************************************************ */

/* ---------- Variables ---------- */

$primary_color: #606060;
$secondary_color: #4c629b;
$tertiary_color: #041a4c;
$background: #ebebeb;
$border: #041635;

/* ---------- General ---------- */

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

@font-face {
	font-family: 'Lato Regular';
	src: url(fonts/Lato-Regular.ttf);
}

@font-face {
	font-family: 'Lato Bold';
	src: url(fonts/Lato-Bold.ttf);
}

* {
	margin: 0;
	padding: 0;
}

body {
	font: {
		family: 'Lato Regular';
		size: 12px;
	}
	color: $primary_color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Lato Regular';
}

a {
	color: $secondary_color;
	&:hover {
		color: $secondary_color;
	}
}

/* ---------- Template ---------- */

/* Top */

.top {
	position: relative;
	z-index: 2;
	.moduletable_to2 {
		.top-bar {
			padding: 0;
			background-color: transparent;
			.top-bar-title {
				margin: 0;
			}
			#responsive-menu {
				width: 100%;
				ul.menu {
					background-color: transparent;
					li {
						height: 50px;
						padding: 10px 5px;
						&#menu-item-21 {
							width: 90px;
							height: 122px;
							padding: 5px 0;
							&.current-menu-item {
								a {
									border-bottom: none;
								}
							}
							a {
								width: 90px;
								height: 112px;
								padding: 0;
								background: {
									color: transparent;
									image: url(logo.png);
									position: center;
									repeat: no-repeat;
								}
								color: transparent;
								&:hover {
									border-color: transparent;
								}
							}
						}
						&#menu-item-24 {
							a {
								border: 1px solid $border;
								&:hover {
									background-color: $secondary_color;
									color: #fff;
								}
							}
						}
						&.current-menu-parent,
						&.current-menu-item,
						&.current_page_parent {
							a {
								border-bottom: 1px solid #000;
							}
						}
						a {
							padding: 10px 20px;
							border-bottom: 1px solid transparent;
							font: {
								family: 'Lato Bold';
								size: 12px;
							}
							&:hover {
								border-bottom: 1px solid #000;
							}
							&:after {
								border: {
									top-width: 4px;
									left-width: 4px;
									right-width: 4px;
									top-color: $secondary_color;
								}
							}
						}
						ul.sub-menu {
							background-color: rgba(255, 255, 255, 0.8);
							border: 0;
							z-index: 100;
							li {
								height: inherit;
								padding: 0;
								background-image: none;
								border-bottom: 1px solid $secondary_color;
								z-index: 100;
								a {
									width: 100%;
									padding: 10px;
									border: none;
									z-index: 100;
									&:hover {
										background-color: $secondary_color;
										color: #fff;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

/* Banner */

.banner {
	margin-top: -70px;
	position: relative;
	z-index: 1;
}

/* Content */

.content {
	&.home {
		margin-top: -70px;
		padding: 0;
		background: {
			image: url(content_home_bg.png);
			position: top;
			repeat: no-repeat;
			size: 100%;
		}
		position: relative;
		z-index: 1;
		.container_1 {
			padding-top: 80px;
			color: #fff;
			h1 {
				font-size: 20px;
				color: #fff;
				strong {
					color: #fff;
				}
			}
		}
		.container_3 {
			a {
				font: {
					family: 'Lato Bold';
					size: 16px;
				}
			}
		}
	}
	padding: 30px 0;
	h1 {
		font-size: 38px;
		color: $border;
		&.big {
			font-size: 6em;
		}
	}
	h2 {
		font-size: 20px;
		color: $border;
	}
	strong {
		color: $border;
	}
	.asterisk {
		color: red;
	}
	input {
		&.button {
			background-color: $border;
			color: #fff;
		}
	}
	ul#menu-familia-corazonista-menu {
		padding: 20px 0;
		border: 1px solid $border;
		li {
			width: 100%;
			padding: 0 10px;
			&.current-menu-item {
				a {
					background-color: $secondary_color;
					color: #fff;
				}
			}
			a {
				border-bottom: 1px solid $border;
				color: $border;
				display: block;
				&:hover {
					background-color: $secondary_color;
					color: #fff;
				}
			}
		}
	}
}

/* Block 1 */

.block_1 {
	padding: 20px 0;
	.moduletable_b11 {
		width: 50%;
		padding: 20px;
		font-size: 28px;
		color: $border;
		float: left;
		position: relative;
		&.news {
			ul {
				margin: 0;
				list-style: none;
				li {
					margin-bottom: 10px;
					padding: 10px;
					border: 1px solid $border;
					display: flex;
					.upw-image {
						flex-grow: 1;
					}
					.upw-content {
						padding: 0 10px;
						font-size: 12px;
						flex-grow: 1;
						.post-title {
							a {
								color: $tertiary_color;
							}
						}
						.post-excerpt {
							color: $primary_color;
							a {
								&.more-link {
									color: $tertiary_color;
									display: block;
								}
							}
						}
					}
				}
			}
		}
		.em-calendar-wrapper {
			padding: 10px;
			background-color: $background;
			border: 1px solid $border;
			font-size: 16px;
		}
	}
}

/* Block 2 */

.block_2 {
	padding: 20px 0;
	.moduletable_b21 {
		h3 {
			font-size: 28px;
			color: $border;
		}
	}
}

/* Block 3 */

.block_3 {
	.moduletable_b31 {
		iframe {
			border: 0;
		}
	}
}

/* Block 4 */

.block_4 {
	margin: 20px 0;
	padding: 10px 0;
	background-color: $background;
	.moduletable_b41 {
		a {
			margin: 0 10px;
			display: inline-block;
		}
	}
}

/* Bottom */

.bottom {
	padding: 20px 0 10px 0;
	background-color: $border;
	.moduletable_bo1 {
		color: #fff;
		h3 {
			font-size: 18px;
		}
		a {
			color: #fff;
		}
	}
}

/* Copyright */

.copyright {
	padding-bottom: 20px;
	background-color: $border;
	color: #fff;
	a {
		color: #fff;
	}
}

/* ---------- Media Queries ---------- */

/* Small only (639px) */

@media screen and (max-width: 39.9375em) {}

/* Medium and up (640px) */

@media screen and (min-width: 40em) {}

/* Medium only (640px and 1023px) */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up (1024px) */

@media screen and (min-width: 64em) {}

/* Large only (1024px and 1199px) */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* ---------- Others ---------- */

.clear {
	clear: both;
}